<% include art-header%>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <% if(username){ %>

                <form action="/admin/api-art-publish" method="post">
                
                    标题： <input type="text" name="title">
                    <br>
                    内容：
                    <!-- <textarea id="" cols="30" rows="10" name="content"></textarea> -->
                    <script name='content' id="editor" type="text/plain" style="width:624px;height:300px;"></script>
                    <br>
                
                    <input type="submit" value="发表">
                
                </form>
    </div>
    
    <% } %>
</body>
<!-- 配置文件 -->
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js">
</script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js">
</script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
  var ue = UE.getEditor('editor');
</script>
</html>